.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin-top: 25px;
}

.App-intro button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  margin: 5px;
}

.App-intro button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.App-intro button:focus {
  outline: none;
}

.pressed {
  box-shadow: 0px 0px 12px 2px #03A9F4;;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
